<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.resume.user">
    <select id="selectResumes" resultType="kr.co.sist.user.domain.resume.ResumeListDomain" parameterType="java.lang.String">
		select resume_num as resumeNum, title, input_date as inputDate
		from resume 
		where user_id=#{user_id}
    </select>
    <select id="countResumesPerUser" resultType="int" parameterType="java.lang.String">
    	select count(*) as count
		from resume 
		where user_id=#{user_id}
    </select>
    <insert id="apply" parameterType="kr.co.sist.user.vo.resume.ApplyVO">
    	INSERT INTO apply (RECRUIT_NUM, RESUME_NUM, USER_ID, PROGRESS_STATE, APPLY_DATE)
		VALUES (#{recruitNum}, #{resumeNum}, #{userId}, '지원완료', TO_DATE(TO_CHAR(SYSDATE, 'YYYY-MM-DD'), 'YYYY-MM-DD'))
    </insert>
    <update id="updateResume" parameterType="kr.co.sist.user.vo.resume.ResumeVO">
    	UPDATE resume 
    	SET 
	    	title = #{title},
	    	profile_img = #{profile},
	    	self_introduction = #{introduce},
	    	update_date = TO_CHAR(SYSDATE, 'YYYY-MM-DD'),
	    	addr = #{addr}
    	WHERE resume_num = #{id}
    </update>
    <insert id="insertSkill" parameterType="java.util.List">
	    INSERT INTO skill (RESUME_NUM, SKILL_CODE)
	    SELECT A.* FROM (
	        <foreach collection="list" item="skill" separator="UNION ALL">
	            SELECT #{skill.resumeNum} AS RESUME_NUM, sl.SKILL_CODE
	            FROM skill_list sl
	            WHERE sl.SKILL_NAME = #{skill.skillName}
	        </foreach>
	    ) A
	</insert>
	<insert id="insertEducation" parameterType="java.util.List">
        INSERT INTO education (
            RESUME_NUM, SCHOOL_CLASSIFICATION, SCHOOL_NAME, ADMISSION_DATE, 
            GRADUATION_DATE, GRADUATION_STATE, MAJOR, GRADES, TOTAL_SCORE
        )
        SELECT A.* FROM (
            <foreach collection="list" item="edu" separator="UNION ALL">
                SELECT 
                    #{edu.resumeNum}, 
	                #{edu.schoolClassification}, 
	                #{edu.schoolName},
	                TO_DATE(TO_CHAR(#{edu.admissionDate}, 'YYYY-MM-DD'), 'YYYY-MM-DD'),
	                TO_DATE(TO_CHAR(#{edu.graduationDate}, 'YYYY-MM-DD'), 'YYYY-MM-DD'),
	                #{edu.graduationState},
	                #{edu.major}, 
	                #{edu.grades}, 
	                #{edu.totalScore}
	                FROM DUAL
            </foreach>
        ) A
    </insert>
    <delete id="deleteSkill" parameterType="java.lang.String">
    	DELETE skill WHERE resume_num = #{resumeNum}
    </delete>
    <delete id="deleteEdu" parameterType="java.lang.String">
    	DELETE education WHERE resume_num = #{resumeNum}
    </delete>
    <delete id="deleteCareer" parameterType="java.lang.String">
    	DELETE career WHERE resume_num = #{resumeNum}
    </delete>
    <delete id="deleteCertifacation" parameterType="java.lang.String">
    	DELETE certificate WHERE resume_num = #{resumeNum}
    </delete>
    <delete id="deleteLanguage" parameterType="java.lang.String">
    	DELETE language WHERE resume_num = #{resumeNum}
    </delete>
</mapper>