<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.resume.user">
    <select id="selectResumes" resultType="kr.co.sist.user.domain.resume.ResumeListDomain" parameterType="java.lang.String">
		select resume_num as resumeNum, title, input_date as inputDate
		from resume 
		where user_id=#{user_id}
    </select>
    <!-- <select id="selectOneResume" parameterType="int" resultMap="recruitResultMap">
    	
    </select> -->
    <insert id="apply" parameterType="kr.co.sist.user.vo.resume.ApplyVO">
    	INSERT INTO apply (RECRUIT_NUM, RESUME_NUM, USER_ID, PROGRESS_STATE, APPLY_DATE)
		VALUES (#{recruitNum}, #{resumeNum}, #{userId}, '지원완료', TO_DATE(TO_CHAR(SYSDATE, 'YYYY-MM-DD'), 'YYYY-MM-DD'))
    </insert>
</mapper>